//MIXINS

$breakpoints: (
  'medium': 550px,
  'large':  800px,
  'extra-large': 1400px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


body{
  background-image: url('./img/ticks.png');
  font-family: 'Open Sans', sans-serif;
  color: gray;
  width: 80%;
  margin: auto;

  @include respond-to('medium') {
    background-color: pink;
  }

  @include respond-to('large') {
    background-color: lavender;
  }
}

#header{
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
  border-top: 2px solid lightgray;
}

#architekt {
  margin: 0;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid lightgray;

  @include respond-to('medium') {
    border-bottom: 0;
  }

  @include respond-to('large') {
    text-align: left;
    width: 60%;
    border-bottom: 0;
  }
}

#architektLink {
  text-decoration: none;
  font-size: 3em;  
  color: gray;

  @include respond-to('medium') {
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding-bottom: 1em;

    @include respond-to('medium') {
      font-size: 3em;
      padding-bottom: 0.2em;
    }

    @include respond-to('large') {
      text-align: left;
      font-size: 4em;
    }
  }

  @include respond-to('large') {
    font-size: 4em;
  }
}

#logBtns {
  flex: 0 1 100%;

  @include respond-to('medium') {
    margin-bottom: 1em;
  }

  #login {
    background-image: linear-gradient(#a8caee, #297db5);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #7dafe6;
    color: whitesmoke;

    @include respond-to('medium') {
      font-size: 1.3em;
    }

    @include respond-to('large') {
      font-size: 1.8em;
      margin-bottom: 2em;
    }
  }

  #logout {
    background-image: linear-gradient(#cc99cc, #b266b2);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #b266b2;
    color: whitesmoke;

    @include respond-to('medium') {
      font-size: 1.3em;
    }

    @include respond-to('large') {
      font-size: 1.8em;
    }
  }

  #newPhoto{
    background-image: linear-gradient(#FFA2CA, #C96D98);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #C96D98;
    color: whitesmoke;
    float: right;

    @include respond-to('medium') {
      font-size: 1.3em;
    }

    @include respond-to('large') {
      font-size: 1.8em;
    }
  }
}


#welcome{
  flex: 1 0 100%;
  padding: 5px;
  display: none;

  @include respond-to('medium') {
    display: flex;
    font-size: 1em;
  }

  @include respond-to('large') {
    display: flex;
    max-width: 38%;
    max-height: 15em;
  }

  p{
    padding-left: 20px;

    @include respond-to('medium') {
      border-bottom: 2px solid lightgray;
      padding-bottom: 2em;
    }

    @include respond-to('large') {
      border-left: 2px solid lightgray;
      border-bottom: 0px;
    }
  }
}


// Detailed View
#detailContainer {
  display: flex;
  flex-flow: row wrap;
}

#focusedPhoto {
  flex: 0 1 100%;
  max-width: 100%;
  overflow-wrap: break-word;

  @include respond-to('medium') {
    flex: 0 1 100%;
  }

  @include respond-to('large') {
    flex: 0 1 100%;
  }

  @include respond-to('extra-large') {
    flex: 0 1 57%;
  }

  img {
    width: 100%;
    margin: auto;
  }

  p{
    font-size: 1em;

    @include respond-to('medium') {
      font-size: 1.2em;
    }

    @include respond-to('large') {
      font-size: 1.5em;
    }
  }

  button{
    font-family: times;
    font-size: 1.1em;
    margin-top: 3px;
    margin-bottom: 3px;

    @include respond-to('medium') {
      font-size: 1.4em;
    }

    @include respond-to('large') {
      font-size: 1.7em;
    }
  }
}

#photos {
  flex: 0 1 100%;
  flex-flow: row wrap;
  overflow: auto;
  padding-left: 3em;
  padding-top: 3.8em;
  display: none;
  overflow-wrap: break-word;
  overflow: auto;

  @include respond-to('medium') {
    display: flex;

  }

  @include respond-to('large') {
    display: flex;
    flex: 0 1 100;
  }

  @include respond-to('extra-large') {
    max-width: 38%;
  }

  a {
  text-decoration: none;
  color: gray;
  overflow: hidden;
  }


  img {
    width: 100%;
  }

  p {
    // padding-bottom: 1em;
    // flex: 0 1 50%;
  }
}




// Main Gallery Page
#container{
  display: flex;
  flex-flow: row wrap;
}

#staticPhotoDiv{
  flex: 0 1 100%;
  border-bottom: 2px solid lightgray;
}

#staticPhoto{
  padding-bottom: 20px;
  min-width: 100%;
  height: 30%;
  margin: auto;

  @include respond-to('medium') {
    min-width: 100%;
    height: 50%;
  }
}

#photoCollection{
  flex: 1 0 100%;
  max-width: 100%;

  @include respond-to('large') {
    display: flex;
    flex-flow: row wrap;
    // border-top: 2px solid lightgray;
  }

  a {
    text-decoration: none;
  }

  .aContainer{
    margin-top: 20px;
    margin-left: 1em;
    margin-right: 1em;

    @include respond-to('medium') {
      margin-left: 2em;
      margin-right: 2em;
    }

    @include respond-to('large') {
      flex: 0 1 30%;
      width: 30%;
      margin: 0;
      margin-left: 1.31em;
    }

    #imageContainer {
      height: 17em;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 1.5em;
      margin-top: 2em;

      @include respond-to('medium') {
        height:32em;
        width: 100%;
      }

      @include respond-to('large') {
        height: 20em;
      }
    }

    p{
      color: gray;
      font-family: times;
      margin: 0;
      overflow: auto;
      overflow-wrap: break-word;
      font-size: 1.3em;
    }
  }

  .borderLine:nth-child(3n+0) {
    @include respond-to('large') {
      flex: 0 1 100%;
      margin-top: 1.5em;
      margin-bottom: 1em;
      background-color: lightgray;
      height: 2px;
    }
  }

  .borderLine:last-of-type {
    flex: 0 1 100%;
    background-color: lightgray;
    height: 2px;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}


// New Photo Form && All form headers
header{
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: times;
  color: darken(gray, 20%);
  font-weight: bold;

  @include respond-to('medium') {
    font-size: 1.7em;
    margin-bottom: 20px;
    font-weight: normal;
  }

  @include respond-to('large') {
  font-size: 2.5em;
  }
}

#newForm{
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block;

  label{
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: darken(gray, 10%);

    @include respond-to('medium') {
      font-size: 1.6em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
  input{
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px;

    @include respond-to('medium') {
      font-size: 1.5em;
    }

    @include respond-to('large') {
    font-size: 1.8em;
    border-radius: 8px;
    }
  }
  button{
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px;

    @include respond-to('medium') {
      font-size: 1.7em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
}

//Edit Photo Form
#editForm{
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block;

  label{
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: darken(gray, 10%);

    @include respond-to('medium') {
      font-size: 1.6em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
  input{
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px;

    @include respond-to('medium') {
      font-size: 1.5em;
    }

    @include respond-to('large') {
    font-size: 1.8em;
    border-radius: 8px;
    }
  }
  button{
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;

    @include respond-to('medium') {
      font-size: 1.7em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
}

//Login Form
#loginForm{
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block;

  label{
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: darken(gray, 10%);

    @include respond-to('medium') {
      font-size: 1.6em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
  input{
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px;

    @include respond-to('medium') {
      font-size: 1.5em;
    }

    @include respond-to('large') {
    font-size: 1.8em;
    border-radius: 8px;
    }
  }
  button{
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px;

    @include respond-to('medium') {
      font-size: 1.7em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
}

//Registration Form
#registerForm{
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block;

  label{
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: darken(gray, 10%);

    @include respond-to('medium') {
      font-size: 1.6em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
  input{
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px;

    @include respond-to('medium') {
      font-size: 1.5em;
    }

    @include respond-to('large') {
    font-size: 1.8em;
    border-radius: 8px;
    }
  }
  button{
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px;

    @include respond-to('medium') {
      font-size: 1.7em;
    }

    @include respond-to('large') {
      font-size: 2em;
    }
  }
}

