body{
  background-image: url('./img/ticks.png');
  font-family: 'Open Sans', sans-serif;
  color: gray;
  width: 80%;
  margin: auto;
}
#header{
  margin-top: 3em;
  border-top: 2px solid lightgray;
  display: flex;
  flex-flow: row wrap;

}
#architekt{
  flex: 1 0 60%;
  font-size: 200%;
  h1{
    // justify-content: flex-start;
    margin: 0px;
    padding-bottom: 1em;
  }
}
#welcome{
  flex: 1 0 30%;
  padding: 5px;
  p{
    border-left: 2px solid lightgray;
    padding-left: 20px;
  }
}


// starting styles for detailed view
#detailContainer {
  display: flex;
  flex-flow: row wrap;
}

#focusedPhoto {
  flex: 0 1 57%;
  max-width: 57%;
  overflow-wrap: break-word;

  img {
    min-width: 100%;
  }
}

#photos {
  flex: 0 1 40%;
  overflow: auto;
  overflow-wrap: break-word;
  padding-left: 3em;
  padding-top: 3.8em;
  max-width: 38%;

  #collectionImgs {
    max-width: 80%;
    min-width: 100%;
  }
}

#photos p {
  margin: 0;
}

#collectionLink {
  padding-bottom: 2em;
}

a {
  text-decoration: none;
  color: gray;
}


// LAURAAAAAAA
#container{
  display: flex;
  flex-flow: row wrap
}

#staticPhotoDiv{
  display: block;
  flex: 1 0 100%;
}
#staticPhoto{
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
  min-width: 100%;
  height: 30%;
  margin: auto;
}

#photoCollection{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 0 100%;
  // background-color: lightgreen;


  .aContainer{
    flex: 1 0 32%;
    display: flex;
    flex-flow: nowrap;
    margin-top: 20px;
    max-width: 32%;
    overflow: hidden;

    a{
      text-decoration: none;

      #imageContainer {
        height: 25em;
        max-width: 26em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top: 10px solid lightgray;
      }

      p{
        color: gray;
        flex: 1 1 auto;
        font-family: times;
        font-size: 90%;
        background-color: lavender;
        margin: 0;
      }
    }
  }
}

// NEW PHOTO FORM
header{
  font-size: 270%;
  margin: 20px;
  font-family: times;
}

#newForm{
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  width: 45%;

  label{
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 210%;
  }
  input{
    margin: 5px 0px;
    font-size: 180%;
    border-radius: 8px;
    padding-left: 5px;
    // float: right;

  }
  button{
    font-family: times;
    font-size: 170%;
    margin-top: 40px;
  }
}