extends layout

block content
  div#notFoundImage
    img(src="http://www.magic4walls.com/wp-content/uploads/2013/12/Cute-Sad-Bunny.jpg")
  div#notFoundHeader
    header Oh noes!
    header 404 Not Found