extends layout

block content
  header Edit Photo
  div#editForm
    label Photo Author
    br
    input(type="text" name="author" value="#{photo.author}")
    br
    label Photo Link
    br
    input(type="text" name="link" value="#{photo.link}")
    br
    label Description
    br
    input(type="text" name="description" value="#{photo.description}")
    br
    input#method(type="hidden" value="PUT")
    input#xhrURL(type="hidden" value="http://localhost:3000/gallery/#{photo.id}")
    button(id="submitBtn") Submit
    button(id="deleteBtn") Delete
  script(src="/editXHR.js")