block title
  title Edit Photo

block content
  header Edit Photo
  form
    input(type="text" name="author" value="#{photo.author}")
    br
    input(type="text" name="link" value="#{photo.link}")
    br
    input(type="text" name="description" value="#{photo.description}")
    br
    input#method(type="hidden" value="PUT")
    input#xhrURL(type="hidden" value="http://127.0.0.1/gallery/#{photo.id}")
    button(id="submitBtn") Submit
