block title
  title Edit Photo

block content
  div
    header Edit Photo
    input(type="text" name="author" value="#{photo.author}")
    br
    input(type="text" name="link" value="#{photo.link}")
    br
    input(type="text" name="description" value="#{photo.description}")
    br
    input#method(type="hidden" value="PUT")
    input#xhrURL(type="hidden" value="http://localhost:3000/gallery/#{photo.id}")
    button(id="submitBtn") Submit
    button(id="deleteBtn") Delete
  script(src="/xhrRequests.js")