extends layout

block content
  div#loginForm
    header Login
    form(method="POST" action="/login")
      input(type="text" name="username" placeholder="username")
      br
      input(type="password" name="password" placeholder="password")
      br
      button#login(type="submit") Submit
  div#registerForm
    header Don't have an account?
    header Sign up!
    div#errorDiv
    form
      input(type="text" name="first_name" placeholder="name")
      br
      input(type="text" name="username" placeholder="username")
      br
      input(type="password" name="password" placeholder="password")
      br
      input(type="password" name="passwordVal" placeholder="re-enter password")
      br
      button#register Register
  script(src="/registerXHR.js")