extends layout

block content
  header Login
  div#loginForm
    form(method="POST" action="/login")
      label Username
      br
      input(type="text" name="username")
      br
      label Password
      br
      input(type="password" name="password")
      br
      button#login(type="submit") Submit
  header Don't have an account? Sign Up Here!
  div#registerForm
    div#errorDiv
    form
      label First Name
      br
      input(type="text" name="first_name")
      br
      label Username
      br
      input(type="text" name="username")
      br
      label Password
      br
      input(type="password" name="password")
      br
      label Re-Enter Password
      br
      input(type="password" name="passwordVal")
      br
      button#register Register
  script(src="/registerXHR.js")