extends layout

block content
  header New Photo
  form#newForm(method="POST", action="/gallery" enctype="appplication/x-www-form-urlencoded")
    label Photo author
    input(type="text" name="author" placeholder="Photographer Name")
    br
    label Photo link
    input(type="text" name="link" placeholder="Photo Link")
    br
    label Description
    input(type="text" name="description" placeholder="Photo Description")
    input(type="hidden" name="GalleryId" value="1")
    br
    button(id="submitBtn") Submit