body {
  background-image: url("./img/ticks.png");
  font-family: 'Open Sans', sans-serif;
  color: gray;
  width: 80%;
  margin: auto; }
  @media only screen and (min-width: 550px) {
    body {
      background-color: pink; } }
  @media only screen and (min-width: 800px) {
    body {
      background-color: lavender; } }

#header {
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap; }

#architekt {
  flex: 1 0 60%;
  border-top: 2px solid lightgray; }
  #architekt h1 {
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding-bottom: 1em; }
    @media only screen and (min-width: 550px) {
      #architekt h1 {
        font-size: 3em;
        padding-bottom: 0.2em; } }
    @media only screen and (min-width: 800px) {
      #architekt h1 {
        text-align: left;
        font-size: 4em; } }

#logBtns {
  flex: 0 1 100%; }
  @media only screen and (min-width: 550px) {
    #logBtns {
      margin-bottom: 1em; } }
  #logBtns #login {
    background-image: linear-gradient(#a8caee, #297db5);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #7dafe6;
    color: whitesmoke; }
    @media only screen and (min-width: 550px) {
      #logBtns #login {
        font-size: 1.3em; } }
    @media only screen and (min-width: 800px) {
      #logBtns #login {
        font-size: 1.8em; } }
  #logBtns #logout {
    background-image: linear-gradient(#cc99cc, #b266b2);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #b266b2;
    color: whitesmoke; }
    @media only screen and (min-width: 550px) {
      #logBtns #logout {
        font-size: 1.3em; } }
    @media only screen and (min-width: 800px) {
      #logBtns #logout {
        font-size: 1.8em; } }
  #logBtns #newPhoto {
    background-image: linear-gradient(#FFA2CA, #C96D98);
    font-size: 1em;
    border-radius: 0.4em;
    border-color: #C96D98;
    color: whitesmoke;
    float: right; }
    @media only screen and (min-width: 550px) {
      #logBtns #newPhoto {
        font-size: 1.3em; } }
    @media only screen and (min-width: 800px) {
      #logBtns #newPhoto {
        font-size: 1.8em; } }

#welcome {
  flex: 1 0 100%;
  padding: 5px;
  display: none; }
  @media only screen and (min-width: 550px) {
    #welcome {
      display: flex;
      font-size: 1em; } }
  @media only screen and (min-width: 800px) {
    #welcome {
      display: flex;
      border-top: 2px solid lightgray;
      max-width: 38%;
      max-height: 15em;
      border-top: 2px solid lightgray; } }
  #welcome p {
    padding-left: 20px; }
    @media only screen and (min-width: 550px) {
      #welcome p {
        border-bottom: 2px solid lightgray;
        padding-bottom: 2em; } }
    @media only screen and (min-width: 800px) {
      #welcome p {
        border-left: 2px solid lightgray;
        border-bottom: 0px; } }

#detailContainer {
  display: flex;
  flex-flow: row wrap; }

#focusedPhoto {
  flex: 0 1 100%;
  max-width: 100%;
  overflow-wrap: break-word; }
  @media only screen and (min-width: 550px) {
    #focusedPhoto {
      flex: 0 1 100%; } }
  @media only screen and (min-width: 800px) {
    #focusedPhoto {
      flex: 0 1 100%; } }
  @media only screen and (min-width: 1400px) {
    #focusedPhoto {
      flex: 0 1 57%; } }
  #focusedPhoto img {
    width: 100%;
    margin: auto; }
  #focusedPhoto p {
    font-size: 1em; }
    @media only screen and (min-width: 550px) {
      #focusedPhoto p {
        font-size: 1.2em; } }
    @media only screen and (min-width: 800px) {
      #focusedPhoto p {
        font-size: 1.5em; } }
  #focusedPhoto button {
    font-family: times;
    font-size: 1.1em;
    margin-top: 3px;
    margin-bottom: 3px; }
    @media only screen and (min-width: 550px) {
      #focusedPhoto button {
        font-size: 1.4em; } }
    @media only screen and (min-width: 800px) {
      #focusedPhoto button {
        font-size: 1.7em; } }

#photos {
  flex: 0 1 100%;
  flex-flow: row wrap;
  overflow: auto;
  padding-left: 3em;
  padding-top: 3.8em;
  display: none;
  overflow-wrap: break-word;
  overflow: auto; }
  @media only screen and (min-width: 550px) {
    #photos {
      display: flex; } }
  @media only screen and (min-width: 800px) {
    #photos {
      display: flex;
      flex: 0 1 100; } }
  @media only screen and (min-width: 1400px) {
    #photos {
      max-width: 38%; } }
  #photos a {
    text-decoration: none;
    color: gray;
    overflow: hidden; }
  #photos img {
    width: 100%; }

#container {
  display: flex;
  flex-flow: row wrap; }

#staticPhotoDiv {
  flex: 0 1 100%; }

#staticPhoto {
  padding-bottom: 20px;
  max-width: 100%;
  height: 30%;
  margin: auto; }
  @media only screen and (min-width: 550px) {
    #staticPhoto {
      min-width: 100%;
      height: 50%; } }

#photoCollection {
  flex: 1 0 100%;
  max-width: 100%; }
  @media only screen and (min-width: 800px) {
    #photoCollection {
      display: flex;
      flex-flow: row wrap;
      border-top: 2px solid lightgray; } }
  #photoCollection a {
    text-decoration: none; }
  #photoCollection .aContainer {
    margin-top: 20px;
    margin-left: 1em;
    margin-right: 1em; }
    @media only screen and (min-width: 550px) {
      #photoCollection .aContainer {
        margin-left: 2em;
        margin-right: 2em; } }
    @media only screen and (min-width: 800px) {
      #photoCollection .aContainer {
        flex: 0 1 30%;
        width: 30%;
        margin: 0;
        margin-left: 1.31em; } }
    #photoCollection .aContainer #imageContainer {
      height: 17em;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 1.5em;
      margin-top: 2em; }
      @media only screen and (min-width: 550px) {
        #photoCollection .aContainer #imageContainer {
          height: 32em;
          width: 100%; } }
      @media only screen and (min-width: 800px) {
        #photoCollection .aContainer #imageContainer {
          height: 20em; } }
    #photoCollection .aContainer p {
      color: gray;
      font-family: times;
      margin: 0;
      overflow: auto;
      overflow-wrap: break-word;
      font-size: 1.3em; }
  @media only screen and (min-width: 800px) {
    #photoCollection .borderLine:nth-child(3n+0) {
      flex: 0 1 100%;
      margin-top: 1.5em;
      margin-bottom: 1em;
      background-color: lightgray;
      height: 2px; } }
  #photoCollection .borderLine:last-of-type {
    flex: 0 1 100%;
    background-color: lightgray;
    height: 2px;
    margin-top: 3em;
    margin-bottom: 3em; }

header {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: times;
  color: #4d4d4d;
  font-weight: bold; }
  @media only screen and (min-width: 550px) {
    header {
      font-size: 1.7em;
      margin-bottom: 20px;
      font-weight: normal; } }
  @media only screen and (min-width: 800px) {
    header {
      font-size: 2.5em; } }

#newForm {
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block; }
  #newForm label {
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: #676767; }
    @media only screen and (min-width: 550px) {
      #newForm label {
        font-size: 1.6em; } }
    @media only screen and (min-width: 800px) {
      #newForm label {
        font-size: 2em; } }
  #newForm input {
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 550px) {
      #newForm input {
        font-size: 1.5em; } }
    @media only screen and (min-width: 800px) {
      #newForm input {
        font-size: 1.8em;
        border-radius: 8px; } }
  #newForm button {
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px; }
    @media only screen and (min-width: 550px) {
      #newForm button {
        font-size: 1.7em; } }
    @media only screen and (min-width: 800px) {
      #newForm button {
        font-size: 2em; } }

#editForm {
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block; }
  #editForm label {
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: #676767; }
    @media only screen and (min-width: 550px) {
      #editForm label {
        font-size: 1.6em; } }
    @media only screen and (min-width: 800px) {
      #editForm label {
        font-size: 2em; } }
  #editForm input {
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 550px) {
      #editForm input {
        font-size: 1.5em; } }
    @media only screen and (min-width: 800px) {
      #editForm input {
        font-size: 1.8em;
        border-radius: 8px; } }
  #editForm button {
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px; }
    @media only screen and (min-width: 550px) {
      #editForm button {
        font-size: 1.7em; } }
    @media only screen and (min-width: 800px) {
      #editForm button {
        font-size: 2em; } }

#loginForm {
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block; }
  #loginForm label {
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: #676767; }
    @media only screen and (min-width: 550px) {
      #loginForm label {
        font-size: 1.6em; } }
    @media only screen and (min-width: 800px) {
      #loginForm label {
        font-size: 2em; } }
  #loginForm input {
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 550px) {
      #loginForm input {
        font-size: 1.5em; } }
    @media only screen and (min-width: 800px) {
      #loginForm input {
        font-size: 1.8em;
        border-radius: 8px; } }
  #loginForm button {
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px; }
    @media only screen and (min-width: 550px) {
      #loginForm button {
        font-size: 1.7em; } }
    @media only screen and (min-width: 800px) {
      #loginForm button {
        font-size: 2em; } }

#registerForm {
  background-color: white;
  font-family: times;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 30px;
  display: inline-block; }
  #registerForm label {
    margin-right: 10px;
    padding: 5px 0px;
    font-family: times;
    font-size: 1.2em;
    color: #676767; }
    @media only screen and (min-width: 550px) {
      #registerForm label {
        font-size: 1.6em; } }
    @media only screen and (min-width: 800px) {
      #registerForm label {
        font-size: 2em; } }
  #registerForm input {
    font-size: 1.2em;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px; }
    @media only screen and (min-width: 550px) {
      #registerForm input {
        font-size: 1.5em; } }
    @media only screen and (min-width: 800px) {
      #registerForm input {
        font-size: 1.8em;
        border-radius: 8px; } }
  #registerForm button {
    font-family: times;
    font-size: 1.5em;
    margin-top: 3px;
    margin-bottom: 3px; }
    @media only screen and (min-width: 550px) {
      #registerForm button {
        font-size: 1.7em; } }
    @media only screen and (min-width: 800px) {
      #registerForm button {
        font-size: 2em; } }
