body {
  background-image: url("./img/ticks.png");
  font-family: 'Open Sans', sans-serif;
  color: gray;
  width: 80%;
  margin: auto; }

#header {
  margin-top: 3em;
  border-top: .5px solid lightgray;
  display: flex;
  flex-flow: row wrap; }

#architekt {
  flex: 0 1 60%;
  font-size: 40px; }
  #architekt h1 {
    justify-content: flex-start;
    margin: 0px;
    padding-bottom: 1em; }

#welcome {
  flex: 0 1 39%;
  padding: 5px; }
  #welcome p {
    border-left: 2px solid lightgray;
    padding-left: 20px; }

#detailContainer {
  display: flex;
  flex-flow: row wrap; }

#focusedPhoto {
  flex: 0 1 57%;
  max-width: 57%;
  overflow-wrap: break-word; }
  #focusedPhoto img {
    min-width: 100%; }

#photos {
  flex: 0 1 40%;
  overflow: auto;
  overflow-wrap: break-word;
  padding-left: 3em;
  padding-top: 3.8em;
  max-width: 38%; }
  #photos #collectionImgs {
    max-width: 80%;
    min-width: 100%; }

#photos p {
  margin: 0; }

#collectionLink {
  padding-bottom: 2em; }

a {
  text-decoration: none;
  color: gray; }
